.inventoryItemContainer {
  cursor: pointer;
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: gray;

  &.common {
    background-color: gray;
  }
  &.uncommon {
    background-color: rgba(0, 128, 0, 0.5);
  }
  &.rare {
    background-color: rgba(0, 0, 255, 0.5);
  }
  &.epic {
    background-color: rgba(128, 0, 128, 0.5);
  }
  &.legendary {
    background-color: rgba(255, 215, 0, 0.5);
  }
  &.mythic {
    background-color: rgba(255, 69, 0, 0.5);
  }
}

.empty {
  cursor: default;
  min-width: 42px;
  min-height: 42px;
}

.saleIcon {
  position: absolute;
  left: 3px;
  top: 3px;
}

.stackAmount {
  position: absolute;
  bottom: 0;
  right: 4px;
  font-size: 16px;
  color: white;
}

.enhancementAmount {
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 16px;
  color: white;
  font-weight: 600;

  &.lowEnhancement {
    color: blue;
  }
  &.midEnhancement {
    color: yellow;
  }
  &.highEnhancement {
    color: red;
  }
}
