.inventoryItemContainer {
  cursor: pointer;
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;

  > *:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.empty {
  cursor: default;
  min-width: 42px;
  min-height: 42px;
}

.saleIcon {
  position: absolute;
  left: 3px;
  top: 3px;
}

.stackAmount {
  position: absolute;
  bottom: 0;
  right: 4px;
  font-size: 20px;
  color: white;
}
