.container {
  width: 100%;
  bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  align-items: center;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 1rem;

  span {
    cursor: pointer;
  }
}
