.monsterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;

  img {
    min-height: 40px;
    min-width: 40px;
  }
}

.animatedDamage {
  position: absolute;
  top: 100%; /* Start from the bottom of the container */
  left: 50%;
  transform: translateX(-50%);
  animation: moveUp 3s forwards; /* Animation to move upwards */
}

@keyframes moveUp {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
