@import "@/styles/variables";

.container {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-neutral;
}

.limitedContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 370px; // Iphone XR
  max-height: 800px; // Iphone XR
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $light-neutral;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  overflow-y: auto;
}

.limitedDev {
  max-width: 370px; // Iphone XR
  max-height: 800px; // Iphone XR
}
