@import "@/styles/variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 1rem;
}

.internalMessageContainer {
  height: 6rem;
  width: 100%;
  background-color: $neutral;
  padding: 0.5rem;
  border-radius: 6px;
}

.membersList {
  padding: 0.5rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow-y: auto;
}

.guildTaskContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  padding: 0.5rem;
  border-radius: 4px;

  &.completed {
    background-color: $success;
    cursor: pointer;
  }
  &.selectNewTask {
    background-color: $primary;
    cursor: pointer;
    padding: 2rem 1rem;
  }
}

.memberViewSwitch {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
