.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.25rem;
}

.midContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
