.characterContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 36px;
  height: 70px;
  margin-top: 1.5rem;
}

.character {
  width: 60px;
  height: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.head {
  width: 50px;
  height: 60px;
  top: -35px;
  right: 5px;
  position: absolute;
  z-index: 2;
}
.body {
  width: 36px;
  height: 70px;
  top: 0px;
  position: absolute;
}

.hidden {
  display: none;
}

.isolatedHeadContainer {
  width: 50px;
  height: 60px;
}
