.characterContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 50px;
}

.character {
  height: 140px;
  width: 148px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.head {
  width: 28px;
  height: 29px;
  top: -22px;
  right: 62px;
  position: absolute;
  z-index: 2;
}
.body {
  width: 36px;
  height: 70px;
  top: 0px;
  position: absolute;
}

.hidden {
  display: none;
}

.isolatedHeadContainer {
  width: 28px;
  height: 29px;
}
