.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 3px;
  gap: 1rem;
}

.dropContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  border-radius: 6px;
  gap: 1rem;
  padding-left: 1rem;
}
