@import "@/styles/variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-image: url("https://kidmortal.sirv.com/misc/grass.png");
  background-repeat: repeat;
  border-radius: 6px;
  margin: 0.5rem 0;
}
.monsterSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: auto;
  padding-right: 2rem;
}

.userSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.logContainer {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 1rem;
  font-size: 12px;
}

.actions {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.turnLabelContainer {
  font-size: 16px;
  padding: 0.5rem 0;
}

.noBattleContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapOptionContailer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.targetingSkillLabel {
  position: absolute;
  top: 40%;
  background-color: $primary;
  padding: 0.5rem;
  border-radius: 8px;
  z-index: 5;
}

.grass {
  background-image: url("grass.png");
  background-repeat: repeat;
}
