.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 3rem;
  }
}

.classList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.character {
  height: 140px;
  width: 148px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.selected {
  transform: scale(1.2);
}

.head {
  width: 148px;
  height: 125px;
  top: -42px;
  right: 0px;
  position: absolute;
  z-index: 2;
}
.body {
  width: 148px;
  height: 125px;
  top: 0px;
  position: absolute;
}

.characterCreationOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
