.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.guildBoxContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.guildInfoColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  span {
    font-size: 12px;
  }
}
