.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #3498db;
  strong {
    font-size: 14px;
  }
}

.optionsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.warning {
  color: black;
  font-size: 18px;
  font-weight: 600;
}
