@import "@/styles/variables";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.4rem;
}

.action {
  flex: 1;
  min-width: 0;
  gap: 0.4rem;
  font-size: 12px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
