@import "@/styles/variables";

.container {
  width: 18rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow-y: auto;
}

.mailContainer {
  width: 100%;
  min-width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid white;
  user-select: none;
  cursor: pointer;
  transition: 200ms;

  &:hover {
    border: 1px solid green;
  }

  &.visualized {
    cursor: default;
    border: 1px solid grey;
    opacity: 0.5;
  }
}

.notificationInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
}

.messageContainer {
  padding: 0.5rem;
  border-radius: 4px;
  width: 10rem;
  background-color: $primary;
}

.rewardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
