.actions {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.skillsContainer {
  height: fit-content;
  top: -70%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  transition: 200ms;
  pointer-events: none;
  opacity: 0;

  &.visible {
    pointer-events: initial;
    opacity: 1;
  }
}

.skillText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.skillInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillInfoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  svg {
    margin-right: 4px;
  }
}

.skillButton {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 8px;
}
