.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 100%;
  }
}

.mapInfoColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.monstersRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
