.container {
  display: flex;
  border-radius: 6px;
  border: 1px solid #d6d6d6;
  padding: 1rem;

  justify-content: flex-start;
  align-items: center;

  width: 100%;

  cursor: pointer;

  background: #fff;
  transition: 200ms;

  &:hover {
    background-color: #ccd3ca;
  }

  > span {
    margin-left: 6px;

    color: #4a4949;

    font-size: 18px;
    font-weight: 12px;
    line-height: 12px;
    letter-spacing: 0.2px;
  }
}
