@import "@/styles/variables";

.memberInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $neutral;
  border-radius: 4px;
}

.memberInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
